*{
     cursor: url('assets/Hands_spriteNormalCursor.png'), auto;
     margin: 0;
     padding: 0;
}

body {
    image-rendering: pixelated; 
  
  /* Fallback for older configurations */
    image-rendering: -moz-crisp-edges; 
    image-rendering: crisp-edges; 
}

#mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;   
    min-height: 100vh;
    gap: 10px;
}

#ComputerSpace{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#PlayerSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
}