*{
     cursor: url('assets/Hands_spriteNormalCursor.png'), auto;
     margin: 0;
     padding: 0;
}

body {
    image-rendering: pixelated; 
  
  /* Fallback for older configurations */
    image-rendering: -moz-crisp-edges; 
    image-rendering: crisp-edges; 
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;   
    min-height: 100vh;

}

#ComputerSpace{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

#PlayerSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0.3;
    justify-content: flex-end;
    width: 100%;
}

#PlayerTable{
    transform-origin: bottom;
    transform: scale(3);
}

#PlayerButtons{
    transform: scale(2.7);
    padding-bottom: 17px;
    z-index: 1;
}

#ComputerTable{
    transform-origin: bottom;
    transform: scale(3);
}

.ComputerPlayer{
    transform-origin: bottom;
    transform: scale(4);
    margin-bottom: 10px;
}

#ComputerCardMove{
    transform: scale(4);
    z-index: 1;
    position: relative;
    bottom: 290px;
    opacity: 0;
}

#RockButton, #PaperButton, #ScissorsButton{
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

#RockButton:active {
    border-left: 2px solid transparent;
}

#PaperButton{
    margin-left: 1px;
}

#PaperButton:active{
    border-left: 1px solid transparent; 
    border-right: 1px solid transparent;
}

#ScissorsButton{
    margin-left: 1px;
}

#ScissorsButton:active{
    border-right: 3px solid transparent;
}

#RoundNum{
    display: flex;
    flex-grow: 0.3;
    align-items: flex-end;
    position: fixed;
    margin-bottom: 550px;
    
    width: 100vh;
    justify-content: center;
    gap: 15px;
    font-family: "FE 5 Cent", sans-serif;
    font-size: 50px;

    animation: float 5s  steps(5) infinite;
}

@keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-15px);
            }

            100% {
                transform: translateY(0);
            }
        }

#blackOverlay{
    background-color: black;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: fadeBlackIntro 2s steps(10) forwards;
}

@keyframes fadeBlackIntro{
    0%{
        opacity: 1;
        pointer-events: auto;
    }
    99%{
        opacity: 0;
        pointer-events: auto;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

.ComputerPlayer {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    image-rendering: pixelated;
}

.state-idle{
    background-image: url('assets/ComputerPlayerFace_happy.png');
    animation: none;
}

.state-winner{
    background-image: url('assets/ComputerPlayerFaceWinner-Sheet.png') !important;
    animation: playWin 0.5s steps(4) forwards;
}

.state-winner-reverse{
    background-image: url('assets/ComputerPlayerFaceWinner-Sheet.png') !important;
    animation: playWin 0.5s steps(4,end) reverse;
}

.state-sad{
    background-image: url('assets/ComputerPlayerFaceSad-Sheet.png');
    animation: playSad 0.5s steps(4) forwards;
}

.state-think{
    background-image: url('assets/ComputerPlayerFaceThinking-Sheet.png');
    animation: playThinking 0.8s steps(4) infinite;
}



@keyframes playWin{
    to {background-position: 0px -256px;}
}

@keyframes playSad{
    to{background-position: 0px -256px;}
}

@keyframes playThinking{
    to{background-position: 0px -256px;}
}

.speechBubble{
    display: flex;
    justify-content: flex-end;
    height: 180px;
    background-image: none;
    margin-bottom: 60px;
    z-index: 1;
    transform: scale(0.8);
}

.playingSpeechStop{
        display: flex;
    justify-content: flex-end;
    height: 180px;
    background-image: none;
    margin-bottom: 60px;
    z-index: 1;
    transform: scale(0.8);
}

.playingSpeechOne{
    background-image: url(assets/pixel-speech-bubble_hello_i_am_computer_.png);
    width: 585px;
    margin-left: 300px;
    animation: playSpeechOne 3s steps(19) forwards ;
}

@keyframes playSpeechOne {
    to{background-position: 0px -3420px;}
}

.playingSpeechTwo{
    background-image: url(assets/pixel-speech-bubbleYour_compe.png);
    width: 490px;
    margin-left: 290px;
    animation: playSpeechTwo 2s steps(15) forwards ;
}

@keyframes playSpeechTwo {
    to{background-position: 0px -2700px;}
}

.playingSpeechThree{
    background-image: url(assets/pixel-speech-bubbleI_would_love_to_play_with_you.png);
    width: 830px;
    margin-left: 380px;
    animation: playSpeechThree 4s steps(29) forwards;
}

@keyframes playSpeechThree {
    to{background-position: 0px -5220px;}
}

.playingSpeechFour{
    background-image: url(assets/pixel-speech-bubble_Would_you_want_to_start.png);
    width: 945px;
    margin-left: 405px;
    animation: playSpeechFour 3s steps(25) forwards;
}

@keyframes playSpeechFour {
    to{background-position: 0px -4500px;}
}

.playingSpeechFive{
    background-image: url(assets/pixel-speech-bubble_oh_great_so_lets_start-Sheet.png);
    width: 666px;
    margin-left: 330px;
    animation: playSpeechFive 3s steps(23) forwards;
}

@keyframes playSpeechFive {
    to{background-position: 0px -4140px;}
}

.playingSpeechSix{
    background-image: url(assets/pixel-speech-bubble_I_will_crush_you-Sheet.png);
    width: 531px;
    margin-left: 300px ;
    animation: playSpeechSix 3s steps(19) forwards;
}

@keyframes playSpeechSix {
    to{background-position: 0px -3420px;}
}

.startPlay{
    width: 162px;
    height: 56px;
    background:none;
    z-index: 1;
    margin-right: 37px;
    margin-top: 28px;
    padding: 0;
    border: none;
    opacity: 0;
}

.startPlay:active{
    transform: scale(0.9);
}

.shakeOn {
  animation: shake 0.1s;

  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}


.shakeOff{
    
}