.pixelify-sans-Medium {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pixelify-sans-Bold {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

*{
     cursor: url('assets/Hands_spriteNormalCursor.png'), auto;
     margin: 0;
     padding: 0;
}

body {
    image-rendering: pixelated; 
  
  /* Fallback for older configurations */
    image-rendering: -moz-crisp-edges; 
    image-rendering: crisp-edges; 
}

#mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;   
    min-height: 100vh;

}

#ComputerSpace{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

#PlayerSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0.3;
    justify-content: flex-end;
    width: 100%;
}

#PlayerTable{
    transform-origin: bottom;
    transform: scale(3);
}

#PlayerButtons{
    transform: scale(2.7);
    padding-bottom: 17px;
    z-index: 1;
}

#ComputerTable{
    transform-origin: bottom;
    transform: scale(3);
}

#ComputerPlayer{
    transform-origin: bottom;
    transform: scale(4);
}

#ComputerCardMove{
    transform: scale(4);
    z-index: 1;
}

#RockButton, #PaperButton, #ScissorsButton{
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

#RockButton:active {
    border-left: 2px solid transparent;
}

#PaperButton{
    margin-left: 1px;
}

#PaperButton:active{
    border-left: 1px solid transparent; 
    border-right: 1px solid transparent;
}

#ScissorsButton{
    margin-left: 1px;
}

#ScissorsButton:active{
    border-right: 3px solid transparent;
}

#RoundNum{
    display: flex;
    flex-grow: 0.3;
    align-items: flex-end;
    
    width: 100vh;
    justify-content: center;
    gap: 15px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 50px;

    animation: float 5s  steps(5) infinite;
}

@keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-15px);
            }

            100% {
                transform: translateY(0);
            }
        }